# Contraseña del usuario administrador del Indexer (OpenSearch)
INDEXER_PASSWORD=SecretPassword

# Contraseña del usuario kibanaserver (comunicación interna Dashboard <-> Indexer)
DASHBOARD_PASSWORD=kibanaserver

# Contraseña del usuario wazuh-wui (comunicación interna Dashboard <-> Manager API)
API_PASSWORD=MyS3cr37P450r.*-